<footer><strong>
        <div class="derechos_autot">
            <p>Copyright © Todos los derechos reservados: Adev carnet
                2290-19-19195 UMG 2023 RECUPERACIONES</p>
        </div>
    </strong></footer>