<header>
    <div class="navmain">
        <nav role="navigation">
            <ul class="nav ">
                <li class="nav-item"><a class="nav-link" href="/">
                        <span class="menu-title">Pagina Principal</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/html_css"><span class="menu-title">HTM Y CSS</span></a>
                </li>

                <li class="nav-item"><a class="nav-link" href="/js_node"><span class="menu-title">JAVA SCRIPT Y NODE
                        </span></a>
                </li>


            </ul>
        </nav>
    </div>
</header>