<header>
    <div class="navmain">
        <nav role="navigation">
            <ul class="nav ">
                <li class="nav-item"><a class="nav-link" href="/">
                        <span class="menu-title">inicio</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/calculadora"><span
                            class="menu-title">calculadora</span></a>
                </li>

                <li class="nav-item"><a class="nav-link" href="/poriedades"><span
                            class="menu-title">Propiedades</span></a>
                </li>


            </ul>
        </nav>
    </div>
</header>