<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}

    <div class="triangulos">
        <h1>Como estas</h1>
        <p>Un triángulo puede ser definido como un polígono de tres lados, o como un polígono con tres vértices. El
            triángulo es el polígono más simple y el único que no tiene diagonal. Tres puntos no alineados
            definen siempre un triángulo.</p>
        <div class="contenedor-1">
            <div class="tarjeta-1">
                <h2>Triengualo equilatero</h2>
                <img src="img/formula.jpg" alt="">
            </div>

        </div>


    </div>

    <div class="form1">

        <form action="" class="form2">
            <h1>Calcular el Area <area shape="" coords="" href="" alt=""></h1>
            <h3>bace</h3>
            <input type="number" id="bace" placeholder="Ingrese el bace">
            <br>
            <h3>altura</h3>
            <input type="number" id="altura" placeholder="Ingrese el altura">
            <br>
            <button type="button" onclick="capturar();">Calcular</button>
            <h1 id="result">Calulando...</h1>

        </form>
    </div>

    <script src="./js/calcular.js"></script>





    {{>footer}}
</body>

</html>
<script></script>