<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}



    <div class="triangulos">
        <h1>TRIANGULOS</h1>
        <p>Un triángulo es el polígono que resulta de unir 3 puntos con líneas rectas.

            Todo triángulo tiene 3 lados (a, b y c), 3 vértices (A, B y C) y 3 ángulos interiores (A, B y C)

            Habitualmente se llama lado a al lado que no forma parte del ángulo A. Lo mismo sucede con los lados b y c y
            los ángulos B y C.</p>
        <div class="contenedor">
            <div class="tarjeta">
                <h2>TRIENGULO EQILATERO</h2>
                <img src="img/126.jpg" alt="">
                <p>Un triángulo equilátero siempre
                    será acutángulo</p>
            </div>


            <div class="tarjeta">
                <h2>TRIENGULO IOSCELES</h2>

                <img src="img/2.jpg" alt="">
                <p>Un triángulo isósceles puede ser acutángulo,
                    rectángulo o obtusángulo.</p>
            </div>


            <div class="tarjeta">
                <h2>TRIENGULO ESCALENO</h2>

                <img src="img/3.jpg" alt="">
                <p>Un triángulo escaleno puede ser acutángulo,
                    rectángulo o obtusángulo.</p>
            </div>





        </div>



    </div>

    {{>footer}}
</body>

</html>