<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}



    <div class="web">
        <h1>INTRODUCCION AL DESARROLLO WEB</h1>
        <p>HTML5 no es una nueva versión del antiguo lenguaje de etiquetas, ni siquiera una mejora
            de esta ya antigua tecnología, sino un nuevo concepto para la construcción de sitios web y
            aplicaciones en una era que combina dispositivos móviles, computación en la nube y
            trabajos en red.
            Todo comenzó mucho tiempo atrás con una simple versión de HTML propuesta para
            crear la estructura básica de páginas web, organizar su contenido y compartir información.
            El lenguaje y la web misma nacieron principalmente con la intención de comunicar
            información por medio de texto.
            El limitado objetivo de HTML motivó a varias compañías a desarrollar nuevos lenguajes
            y programas para agregar características a la web nunca antes implementadas. Estos
            desarrollos iniciales crecieron hasta convertirse en populares y poderosos accesorios.
            Simples juegos y bromas animadas pronto se transformaron en sofisticadas aplicaciones,
            ofreciendo nuevas experiencias que cambiaron el concepto de la web para siempre.
            De las opciones propuestas, Java y Flash fueron las más exitosas; ambas fueron
            masivamente adoptadas y ampliamente consideradas como el futuro de Internet. Sin
            embargo, tan pronto como el número de usuarios se incrementó e Internet pasó de ser
            una forma de conectar amantes de los ordenadores a un campo estratégico para los
            negocios y la interacción social, limitaciones presentes en estas dos tecnologías probaron
            ser una sentencia de muerte.
            La falta de integración resultó ser crítica y preparó el camino para la evolución de un
            lenguaje que comparte espacio en el documento con HTML y no está afectado por las
            limitaciones de los plug-ins. Javascript, un lenguaje interpretado incluido en navegadores,
            claramente era la manera de mejorar la experiencia de los usuarios y proveer
            funcionalidad para la web. Sin embargo, después de algunos años de intentos fallidos para
            promoverlo y algunos malos usos, el mercado nunca lo adoptó plenamente y pronto su
            popularidad declinó. Los detractores tenían buenas razones para oponerse a su adopción.
            En ese momento, Javascript no era capaz de reemplazar la funcionalidad de Flash o Java. A
            pesar de ser evidente que ambos limitaban el alcance de las aplicaciones y aislaban el
            contenido web, populares funciones como la reproducción de video se estaban
            convirtiendo en una parte esencial de la web y solo eran efectivamente ofrecidas a través
            de estas tecnologías.</p>
        <div class="contenedor">
            <div class="tarjeta">
                <h2>¿Qué es un servidor web?</h2>
                <img src="img/1.jpg" alt="">
                <p>Un servidor es un dispositivo virtual que le brinda espacio y estructura a los sitios web para que
                    almacenen sus datos y manejen sus páginas.

                    Es, pues, en los servidores web. Estos son fundamentales para Internet y si ellos no existieran,
                    navegar por la web sería muy diferente a lo que conocemos hoy en día.

                    Con la transformación digital y el creciente uso de Internet era más que necesario crear servidores
                    que fueran capaces de almacenar y emitir la biblioteca de información casi infinita que
                    encontramos en la web.</p>
            </div>


            <div class="tarjeta">
                <h2>¿Qué es un HTML?</h2>

                <img src="img/2.png" alt="">
                <p>Es decir, las etiquetas HTML son el lenguaje utilizado para estructurar y definir el contenido en un
                    documento HTML. Estas etiquetas se encuentran en el HTML (o Lenguaje de Marcado de Hipertexto) de
                    cada página.

                    Cada etiqueta contiene instrucciones sencillas que indican al navegador cómo dar formato al texto y
                    a definir los diversos elementos de la página web. Al aplicar estas etiquetas de marcado a los
                    diferentes elementos del texto, se indica al navegador cómo mostrarlos al usuario, lo que permite
                    crear páginas web estructuradas y con un diseño coherente.

                    ¿Para que sirven las etiquet</p>
            </div>


            <div class="tarjeta">
                <h2>¿Qué es un CSS?</h2>

                <img src="img/3.png" alt="">
                <p>CSS son las siglas en inglés para «hojas de estilo en cascada» (Cascading Style Sheets). Básicamente,
                    es un lenguaje que maneja el diseño y presentación de las páginas web, es decir, cómo lucen cuando
                    un usuario las visita. Funciona junto con el lenguaje HTML que se encarga del contenido básico de
                    los sitios.

                    Se les denomina hojas de estilo «en cascada» porque puedes tener varias y una de ellas con las
                    propiedades heredadas (o «en cascada») de otras.</p>
            </div>





        </div>



    </div>

    {{>footer}}
</body>

</html>