<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}




    <div class="web">
        <h1>HTMLS Y CSS</h1>
        <p></p>
        <div class="contenedor-prop">
            <div class="tarjeta">
                <h2> ETIQUETAS P </h2>
                <p>Este comando es muy útil debido a que si uno escribe algo en el editor que se este utilizando por
                    mucho espacio</p>
                <img src="img/" alt="">
            </div>


            <div class="tarjeta">
                <h2>ETIQUETA ALING </h2>
                <p>Para alinear un párrafo se utiliza el comando</p>

                <img src="img/" alt="">
            </div>


            <div class="tarjeta">
                <h2>ETIQUETA ALING </h2>
                <p>
                    Sirver para aggregar imagenes
                </p>

                <img src="img/" alt="">
            </div>

            <div class="tarjeta">
                <h2>ETIQUETA DOCTYPE </h2>
                <p>
                    Se utiliza para especificar la versión de HTML que se está utilizando en la página.

                    <img src="img/" alt="">
            </div>


            <div class="tarjeta">
                <h2>ETIQUETA html </h2>
                <p>
                    Define el inicio y el final de la página web.
                    <img src="img/" alt="">
            </div>

            <div class="tarjeta">
                <h2>ETIQUETA head </h2>
                <p>
                    Define la sección de encabezado de la página, donde se incluyen elementos como el título de la
                    página, metaetiquetas, scripts, entre otros.
                    <img src="img/" alt="">
            </div>



            <div class="tarjeta">
                <h2>ETIQUETA title </h2>
                <p>
                    Define el título de la página web que aparece en la pestaña del navegador.
                    <img src="img/" alt="">
            </div>


            <div class="tarjeta">
                <h2>ETIQUETA body </h2>
                <p>
                    Define la sección del cuerpo de la página web, donde se incluyen todos los elementos que se
                    mostrarán en la página.Define la sección del cuerpo de la página web, donde se incluyen todos los
                    elementos que se mostrarán en la página.
                    <img src="img/" alt="">
            </div>


            <div class="tarjeta">
                <h1>INTRO A HTML </h1>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/lZeH53-EdjA?si=ys4Cy0ZI5qrzbe-5"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>

            <hr>
            <hr>
            <hr>
            <hr>
            <h1>FLEX BOX </h1>
            <p>El Módulo de Caja Flexible, comúnmente llamado flexbox, fue diseñado como un modelo unidimensional de
                layout, y como un método que pueda ayudar a distribuir el espacio entre los ítems de una interfaz y
                mejorar las capacidades de alineación. Este artículo hace un repaso de las principales características
                de flexbox, las que exploraremos con mayor detalle en el resto de estas guías.

                Cuando describimos a flexbox como unidimensional destacamos el hecho que flexbox maneja el layout en una
                sola dimensión a la vez — ya sea como fila o como columna. Esto contrasta con el modelo bidimensional
                del Grid Layout de CSS, el cual controla columnas y filas a la vez.</p>

            <div class="tarjeta">
                <h1>FLEX BOX </h1>
                <p>
                    Define la sección del cuerpo de la página web, donde se incluyen todos los elementos que se
                    mostrarán en la página.Define la sección del cuerpo de la página web, donde se incluyen todos los
                    elementos que se mostrarán en la página.</p>
                <img src="img/5.png" alt="">
            </div>


            <div class="tarjeta">
                <h1>FLEX BOX </h1>

                <img src="img/6.png" alt="">
            </div>













        </div>



    </div>

    {{>footer}}
</body>

</html>