<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}




    <div class="triangulos">
        <h1>HTMLS Y CSS</h1>
        <p></p>
        <div class="contenedor-prop">
            <div class="tarjeta">
                <h2> ETIQUETAS P </h2>
                <p>Este comando es muy útil debido a que si uno escribe algo en el editor que se este utilizando por
                    mucho espacio</p>
                <img src="img/4.jpg" alt="">
            </div>


            <div class="tarjeta">
                <h2>ETIQUETA ALING </h2>
                <p>Para alinear un párrafo se utiliza el comando</p>

                <img src="img/5.jpg" alt="">
            </div>


            <div class="tarjeta">
                <h2>ETIQUETA ALING </h2>
                <p>
                    Sirver para aggregar imagenes
                </p>

                <img src="img/6.jpg" alt="">
            </div>







        </div>



    </div>

    {{>footer}}
</body>

</html>