<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}




    <div class="web">
        <h1>JAVASCRIPT Y NODE ENTER OTRAS TECNOLOGIAS</h1>
        <p>Node. js es un entorno de ejecución JavaScript de código abierto y multiplataforma que se utiliza para
            desarrollar aplicaciones escalables del lado del servidor y de red. Está basado en el motor de ejecución
            JavaScript V8 de Google Chrome.</p>
        <div class="contenedor-prop">
            <div class="tarjeta">
                <h2>INTORDUCCION A JAVASCRIPT</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/odnLWsAe3lM?si=clY6s8bvH_iC_IpD"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>


        <div class="contenedor-prop">
            <div class="tarjeta">
                <h2>LOS 8PRINCIPALES COMANDOS EN NODE </h2>
                <p>
                    Para crear tu primer proyecto en NodeJS, con ayuda de NPM, basta con utilizar el comando npm init
                    -y. El mismo creará en cuestión de segundos tu primer proyecto. </p>
                <img src="img/10.png" alt="">

            </div>
        </div>

        <div class="contenedor-prop">
            <div class="tarjeta">
                <p>
                    Abra la línea de comandos, cree un nuevo directorio con mkdir HelloNode y, a continuación, vaya al
                    directorio con: cd HelloNode </p>
                <img src="img/10.png" alt="">

            </div>
        </div>

        <div class="contenedor-prop">
            <div class="tarjeta">
                <p>
                    views. contiene los archivos que usa el motor de plantillas. Express está configurado para buscar
                    aquí una vista coincidente cuando se llama al método de representación. El motor de plantillas
                    predeterminado es Jade, pero está en desuso a favor de Pug, por lo que usamos la marca --view para
                    cambiar el motor de vistas plantillas. Para ver las opciones de la marca --view y otras, use </p>
                <img src="img/10.png" alt="">

            </div>
        </div>
        <div class="contenedor-prop">
            <div class="tarjeta">
                <p>
                    npm install </p>
                <img src="img/10.png" alt="">

            </div>
        </div>

        <div class="contenedor-prop">
            <div class="tarjeta">
                <p>
                    Para crear tu primer proyecto en NodeJS, con ayuda de NPM, basta con utilizar el comando npm init
                    -y. El mismo creará en cuestión de segundos tu primer proyecto. </p>
                <img src="img/10.png" alt="">

            </div>
        </div>

        <div class="contenedor-prop">
            <div class="tarjeta">
                <p>
                    Para crear tu primer proyecto en NodeJS, con ayuda de NPM, basta con utilizar el comando npm init
                    -y. El mismo creará en cuestión de segundos tu primer proyecto. </p>
                <img src="img/10.png" alt="">

            </div>
        </div>

        <div class="contenedor-prop">
            <div class="tarjeta">
                <p>
                    Para crear tu primer proyecto en NodeJS, con ayuda de NPM, basta con utilizar el comando npm init
                    -y. El mismo creará en cuestión de segundos tu primer proyecto. </p>
                <img src="img/10.png" alt="">

            </div>
        </div>

        <div class="contenedor-prop">
            <div class="tarjeta">
                <p>
                    Para crear tu primer proyecto en NodeJS, con ayuda de NPM, basta con utilizar el comando npm init
                    -y. El mismo creará en cuestión de segundos tu primer proyecto. </p>
                <img src="img/10.png" alt="">

            </div>
        </div>



    </div>

    {{>footer}}
</body>

</html>