<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}




    <div class="triangulos">
        <h1>JAVASCRIPT Y NODE ENTER OTRAS TECNOLOGIAS</h1>
        <p>Node. js es un entorno de ejecución JavaScript de código abierto y multiplataforma que se utiliza para
            desarrollar aplicaciones escalables del lado del servidor y de red. Está basado en el motor de ejecución
            JavaScript V8 de Google Chrome.</p>
        <div class="contenedor-prop">
            <div class="tarjeta">
                <h2>verices</h2>
                <p>Vértices. Se trata de los puntos que definen un triángulo al unir dos de ellos con una línea recta.
                    Así, si tenemos los puntos A, B y C, uniéndolos con las rectas AB, BC y CA nos dará como resultado
                    un triángulo. Además, los vértices se hallan del lado opuesto de los ángulos interiores del
                    polígono.</p>
                <img src="img/4.jpg" alt="">
            </div>





        </div>



    </div>

    {{>footer}}
</body>

</html>