<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}




    <div class="web">
        <h1>JAVASCRIPT Y NODE ENTER OTRAS TECNOLOGIAS</h1>
        <p>Node. js es un entorno de ejecuci칩n JavaScript de c칩digo abierto y multiplataforma que se utiliza para
            desarrollar aplicaciones escalables del lado del servidor y de red. Est치 basado en el motor de ejecuci칩n
            JavaScript V8 de Google Chrome.</p>
        <div class="contenedor-prop">
            <div class="tarjeta">
                <h2>INTORDUCCION A JAVASCRIPT</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/odnLWsAe3lM?si=clY6s8bvH_iC_IpD"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

            </div>





        </div>



    </div>

    {{>footer}}
</body>

</html>