<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Final</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}




    <div class="triangulos">
        <h1>PROPIEDADES</h1>
        <p>La propiedad más obvia de los triángulos son sus tres lados, tres vértices y tres ángulos, que bien pueden
            ser semejantes o totalmente distintos entre sí. Los triángulos son los polígonos más simples que hay y
            carecen de diagonal, ya que con tres puntos no alineados cualesquiera es posible formar un triángulo.

            De hecho, cualquier otro polígono puede dividirse en un conjunto ordenado de triángulos, en lo que se conoce
            como triangulación, de modo que el estudio de los triángulos es fundamental para la geometría.

            Además, los triángulos son siempre convexos, nunca cóncavos, ya que sus ángulos nunca pueden superar los
            180° (o π radianes).</p>
        <div class="contenedor-prop">
            <div class="tarjeta">
                <h2>verices</h2>
                <p>Vértices. Se trata de los puntos que definen un triángulo al unir dos de ellos con una línea recta.
                    Así, si tenemos los puntos A, B y C, uniéndolos con las rectas AB, BC y CA nos dará como resultado
                    un triángulo. Además, los vértices se hallan del lado opuesto de los ángulos interiores del
                    polígono.</p>
                <img src="img/4.jpg" alt="">
            </div>


            <div class="tarjeta">
                <h2>Lados</h2>
                <p>Lados. Se llama así a cada una de las rectas que unen los vértices de un triángulo, delimitando la
                    figura (el adentro del afuera)</p>

                <img src="img/5.jpg" alt="">
            </div>


            <div class="tarjeta">
                <h2>Angulos</h2>
                <p>
                    Ángulos. Cada dos lados de un triángulo forman en su vértice común algún tipo de ángulo, que se
                    denomina ángulo interior, pues da hacia el adentro del polígono. Estos ángulos son, al igual que los
                    lados y los vértices, siempre tres.
                </p>

                <img src="img/6.jpg" alt="">
            </div>







        </div>



    </div>

    {{>footer}}
</body>

</html>